<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ user ? '/books' : '/' }}">
            <i class="fas fa-book-reader me-2"></i>TechLib Manager
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user %}
                    {# L'utilisateur est connecté #}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/books"><i class="fas fa-home me-1"></i>Dashboard</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/books/booklist"><i class="fas fa-books me-1"></i>Mes livres</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/books/new"><i class="fas fa-plus me-1"></i>Ajouter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><i class="fas fa-user me-1"></i>Profil</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt me-1"></i>Déconnexion</a>
                    </li>
                
                {% else %}
                    {# L'utilisateur n'est pas connecté #}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-home me-1"></i>Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/signup"><i class="fas fa-user-plus me-1"></i>Inscription</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt me-1"></i>Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
