{% extends "layout/base.twig" %}

{% block title %}Nouveau livre{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="h3">
            <i class="fas fa-plus-circle me-2"></i>Ajouter un livre
        </h1>
        <a href="/books" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left me-1"></i>Retour
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% include 'pages/books/_form.twig' with {'book': book} %}
        </div>
    </div>
{% endblock %}